@page "/"
@using System.Security.Claims

<AuthorizeView Roles="Admin">
    <Authorized>
        <p style="color: lime">Authorized User... Role is : @context.User.FindFirst(ClaimTypes.Role).Value</p>
    </Authorized>

    <NotAuthorized>
        <p style="color: red">Not Authorized User...</p>
    </NotAuthorized>
</AuthorizeView>